/*!--------------------------------------------------------
 * Copyright (C) Microsoft Corporation. All rights reserved.
 *--------------------------------------------------------*/
/*---------------------------------------------------------
 * Copyright (c) Microsoft Corporation. All rights reserved.
 *--------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------
 *  Copyright (c) Microsoft Corporation. All rights reserved.
 *  Licensed under the Source EULA. See License.txt in the project root for license information.
 *--------------------------------------------------------------------------------------------*/

html {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", "Ubuntu", "Droid Sans", sans-serif;
	font-size: 13px;
}

html:lang(zh-Hans) {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", "Noto Sans", "Microsoft YaHei", "PingFang SC", "Hiragino Sans GB", "Source Han Sans SC", "Source Han Sans CN", "Source Han Sans", sans-serif;
}

html:lang(zh-Hant) {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", "Noto Sans", "Microsoft Jhenghei", "PingFang TC", "Source Han Sans TC", "Source Han Sans", "Source Han Sans TW", sans-serif;
}

html:lang(ja) {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", "Noto Sans", "Meiryo", "Hiragino Kaku Gothic Pro", "Source Han Sans J", "Source Han Sans JP", "Source Han Sans", "Sazanami Gothic", "IPA Gothic", sans-serif;
}

html:lang(ko) {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", "Noto Sans", "Malgun Gothic", "Nanum Gothic", "Dotom", "Apple SD Gothic Neo", "AppleGothic", "Source Han Sans K", "Source Han Sans JR", "Source Han Sans", "UnDotum", "FBaekmuk Gulim", sans-serif;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
	color: #cccccc;
}

.cpu {
	width: 45px;
}

.pid {
	width: 50px
}

.memory {
	width: 90px;
}

.process-item {
	line-height: 22px;
}

table {
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
}
th[scope='col'] {
	vertical-align: bottom;
	border-bottom: 1px solid #cccccc;
	padding: .5rem;
	border-top: 1px solid #cccccc;
	cursor: default;
}
td {
	padding: .25rem;
	vertical-align: top;
	cursor: default;
}

.centered {
	text-align: center;
}

.nameLabel{
	text-align: left;
}

.data {
	white-space: pre;
	padding-left: .5rem;
	font-weight: normal;
	text-align: left;
	height: 22px;
}

.error {
	padding-left: 20px;
	white-space: nowrap;
}

tbody > tr:hover {
	background-color: #2A2D2E;
}

.hidden {
	display: none;
}

img {
	width: 16px;
	margin-right: 4px;
}